body {
    background: linear-gradient(to right, rgba(221,167,150,1) 0%, rgba(146,134,139,1) 51%, rgba(72,100,128,1) 100%);
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; // FF backgrond position fix.

    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: radial-gradient(ellipse at center, rgba(116,88,105,1) 0%, rgba(67,52,80,1) 100%);
        opacity: .75;
        z-index: 1;
    }

    &:before {
        background-image: url('/images/stars.png');
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        opacity: 0;
        transition: opacity 1.6s ease-in-out 0s;
        will-change: transform;

        .is-ready & {
            opacity: .9;
            animation: 220s linear 0s infinite rotateZ;
        }
    }
}

.clouds {
    background-image: url('/images/clouds.png');
    background-size: cover;
    animation: wheel 100s infinite;
    //background-blend-mode: soft-light;
    opacity: .55;
    width: 100%;
    height: 100%;
    position: fixed;
    transform: transte3d(0,0,0);
    will-change: transform;
}
