.details {
    @include wrapper();

    width: 100%;
    position: relative;
    z-index: 1;
    height: 7em;
    margin-bottom: 3em;

    @media screen and (max-width: 750px) {
        text-align: center;
        overflow: visible;
    }
}

.details__icon-clock {
    fill: white;
    width: 1.2em;
    height: 1.2em;
    position: relative;
    margin-right: 1rem;
    top: -4px;
}

.details__current-time {
    font-family: $font-stack--secondary;
    font-size: 2.5em;
    display: inline-block;
    margin: 1em 0 0;
    font-weight: bold;
    letter-spacing: 1px;

    @media screen and (max-width: 750px) {
        font-size: 3rem;
        margin: .5em 0 0;
    }
}

.details__current-city {
    font-family: $font-stack--secondary;
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top: 4em;
    right: 2em;
    margin: 0;

    @media screen and (max-width: 750px) {
        position: relative;
        top: 2em;
        opacity: .4;
        clear: both;
        right: 0;
    }
}

.details__icon-map {
    fill: white;
    width: 1em;
    position: absolute;
    right: 0;
    top: 0;

    @include respond-to("medium") {
        display: none;
    }
}
