.details {
    @include wrapper();

    width: 100%;
    position: relative;
    z-index: 1;
    height: 7em;
    margin-bottom: 3em;

    @include respond-to("medium") {
        text-align: center;
        overflow: visible;
    }
}

.details__icon-clock {
    fill: white;
    width: 1.2em;
    height: 1.2em;
    position: relative;
    margin-right: 1rem;
    top: -4px;
}

.details__current-time {
    font-family: $font-stack--secondary;
    font-size: 2.5em;
    display: inline-block;
    margin: 1em 0 0;
    font-weight: bold;
    letter-spacing: 1px;

    @include respond-to("medium") {
        font-size: 3rem;
        margin: .5em 0 0;
    }
}

.details__current-city {
    font-family: $font-stack--secondary;
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top: 4em;
    right: 2em;
    margin: 0;

    @include respond-to("medium") {
        position: relative;
        top: 2em;
        opacity: .4;
        clear: both;
        right: 0;
    }
}

.details__icon-map {
    animation: rotateZ .4s linear infinite 0s;
    fill: white;
    width: 1em;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform .2s ease-in-out;

    .is-ready & {
        animation: none;
    }

    @include respond-to("medium") {
        display: none;
    }
}

/**
 * Search by location component.
 */
.find-location {
    position: absolute;
    right: 0;
    z-index: 3;
}

.find-location__search {
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 5px solid #fff;
    font-size: 3em;
    width: 100%;
    text-align: left;
    letter-spacing: 5px;
    padding-bottom: .2em;
    text-transform: uppercase;
    transform: translateY(1em);
    opacity: .4;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1.000);

    &::-webkit-input-placeholder {
        text-transform: none;
        letter-spacing: 0;
    }

    .is-visible & {
        opacity: 1;
        transform: translateY(0em);
    }

    &:focus {
        outline: none;
    }
}

.find-location-trigger {
    cursor: pointer;
    text-transform: uppercase;
    font-size: .7rem;
    position: absolute;
    right: 0;
    top: 6rem;
    z-index: 5;
}
