@keyframes animateDawn {
	0% {
		box-shadow: 0 0 0 10px rgba(255, 248, 248, 0.2),
					0 0 0 20px rgba(255, 248, 248, 0.1);
		transform: translateY(35%);
	}

	100% {
		box-shadow: 0 0 0 30px rgba(255, 248, 248, 0.2),
					0 0 0 50px rgba(255, 248, 248, 0.1);
		transform: translateY(30%);
	}
}

@keyframes animateSunrise {
	0% {
		opacity: .1;
		transform: translateY(20%)
	}

	50% {
		box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.1);
	}

	100% {
		opacity: 1;
		box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1);
		transform: translateY(-10%);
	}
}

@keyframes animateSunset {
	0% {
		opacity: 1;
		transform: translateY(0%);
	}

	100% {
		opacity: 1;
		box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
		transform: translateY(15%);
	}
}

@keyframes animateDusk {
	0% {
		transform: translateY(0%);
		box-shadow: 0 0 80px 30px rgb(113, 85, 137);
	}

	100% {
		box-shadow: 0 0 180px 30px rgb(113, 85, 137);
		transform: translateY(30%);
	}
}


.moveClouds {
	animation-name: moveClouds;
	animation-duration: 120s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	transform: translate3d(0,0,0);
}

@keyframes moveClouds {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100%);
	}
}

.fadeIn{
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(.27, 1, .92, .04);
	visibility: visible !important;
}

.vanishIn{
	animation-name: vanishIn;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(.09,.88,.44,1.07);
}


@keyframes blink {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes vanishIn {
	0% {
		opacity:0;
		transform:scale(.8);
	}

	100% {
		opacity:1;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;
	}
	60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes flicker {
    0% {
        opacity: .9;
    }

    25% {
        opacity: .6;
    }

    45% {
        opacity: .75;
    }

    65% {
        opacity: .4;
    }

    85% {
        opacity: .7;
    }

    100% {
        opacity: .9;
    }
}

@keyframes rotateZ {
	0% { transform: rotateZ(0deg); }
	50% { transform: rotateZ(180deg); }
	100% { transform: rotateZ(360deg); }
}
