@keyframes animateDawn {
	0% {
		box-shadow: 0 0 0 10px rgba(255, 248, 248, 0.2),
					0 0 0 20px rgba(255, 248, 248, 0.1);
		transform: translateY(35%);
	}

	100% {
		box-shadow: 0 0 0 30px rgba(255, 248, 248, 0.2),
					0 0 0 50px rgba(255, 248, 248, 0.1);
		transform: translateY(30%);
	}
}

@keyframes animateSunrise {
	0% {
		opacity: .1;
		transform: translateY(20%)
	}

	50% {
		box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.1);
	}

	100% {
		opacity: 1;
		box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1);
		transform: translateY(-10%);
	}
}

@keyframes animateSunset {
	0% {
		opacity: 1;
		transform: translateY(0%);
	}

	100% {
		opacity: 1;
		box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
		transform: translateY(15%);
	}
}

@keyframes animateDusk {
	0% {
		transform: translateY(0%);
		box-shadow: 0 0 80px 30px rgb(113, 85, 137);
	}

	100% {
		box-shadow: 0 0 180px 30px rgb(113, 85, 137);
		transform: translateY(30%);
	}
}


.move-Clouds {
	animation-name: moveClouds;
	animation-duration: 120s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	transform: translate3d(0,0,0);
}

@keyframes moveClouds {
	0% { transform: translateX(0); }
	50% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

.fadeIn{
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(.27, 1, .92, .04);
	visibility: visible !important;
}

.vanishIn {
	animation-name: vanishIn;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(.09,.88,.44,1.07);
}


@keyframes blink {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes vanishIn {
	0% {
		opacity: .3;
		transform: scale(.1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;
	}
	60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes rotateZ {
	0% { transform: rotateZ(0deg) scale(1); opacity: .9; }
	50% { transform: rotateZ(180deg) scale(1.3); opacity: .6; }
	100% { transform: rotateZ(360deg) scale(1); opacity: .9; }
}

@keyframes wheel {
  from, to { background-color: hsl(308, 15%, 55%); }
  10%      { background-color: hsl(360, 65%, 55%); }
  20%      { background-color: hsl( 36, 80%, 55%); }
  30%      { background-color: hsl(172, 75%, 45%); }
  40%      { background-color: hsl(308, 15%, 35%); }
  50%      { background-color: hsl(144, 75%, 45%); }
  60%      { background-color: hsl(180, 75%, 45%); }
  70%      { background-color: hsl(216, 60%, 55%); }
  80%      { background-color: hsl(252, 65%, 60%); }
  90%      { background-color: hsl(288, 60%, 50%); }
}
