$day--card__color1: #F77582;
$day--card__color2: #7C4B63;
$day--card__color3: #533D59;
$day--card__color4: #3D2E4A;

$max-content-width: 70em;

$breakpoint--large: 70.7em;
$breakpoint--medium: 47em;
$breakpoint--small: 500px;
